NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
DATABASE_URL=
VERCEL_TOKEN=
VERCEL_TEAM_ID=
GITHUB_PAT=
GITHUB_OWNER=acstoian
GITHUB_REPO=weddingapp
RESEND_API_KEY=
RESEND_FROM_DOMAIN=
BLOB_READ_WRITE_TOKEN=
